body{
  /* background-image: linear-gradient(to left, rgba(255,0,0,0), rgba(255,0,0,1)); */
  /* background: linear-gradient(45deg, red, blue); */
  background-image: url("https://wallpapercave.com/wp/wp2593836.jpg");
  background-repeat: no-repeat;
  /* height: 1000px;  */
  background-size: cover; 
}

.check {
  color: yellow;
  /* font-size: initial; */
}

.page-background {
  
  /* opacity: 0.4; */
}